# Carpetas
node_modules/
build/
src/logs/

# Archivos de configuración
.env
.env.*

# Archivos de registro
*.log

# Archivos de respaldo
*.bak
*.swp

# Archivos de compilación TypeScript
*.js
*.js.map

# Otros archivos
.DS_Store